@model SchoolBook.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classes.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classes.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
