@model SchoolBook.Models.Homework

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Homework</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classes.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classes.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeworkTask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeworkTask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeworkResources)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeworkResources)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeworkExternalResources)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeworkExternalResources)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
