@model IEnumerable<SchoolBook.Models.School>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolWebSite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolWebSite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
